<h1>New post</h1>

<%= render 'form' %>
<a id='ajax_commit' href='javascript:void(0)'>ajax commit</a><br/>

<%= link_to 'Back', posts_path %>

<script type='text/javascript'>
$(function(){
  $("#ajax_commit").click(function(){
    alert(1);
    $.post("<%= posts_url %>", $("#new_post").serialize(), function(data){
    
      alert(data);
    
    });
  })
})
</script>
